/* teen ühele kindlale klassile ühes kindlas failis */

.active-category {
  font-weight: bold;
  text-decoration: underline;
}

.lang {
  width: 30px;
  height: 30px;
}

.lang:hover {
  opacity: 0.7;
  cursor: pointer;
}

.map {
  height: 400px;
}

.carousel {
  width: 500px;
  /* text-align: center; */
  margin: auto;
}

.active-product {
  border: 1px solid green;
}

.inactive-product {
  border: 1px solid red;
}

.active-product, .inactive-product {
  margin: 1px 10%;
}